.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &-header {
        position: fixed;
        z-index: 1;
        height: 80px;
        width: 100%;
        top: 0;
        background: linear-gradient(to bottom, rgb(255 255 255 / 100%), rgb(255 255 255 / 0%));

    }

    &-main {
        width: 100%;

        .app-todo-container {
            width: 100%;
            display: flex;
            justify-content: center;

        }

        &-title {
            width: 100%;
            padding: 50px 0;
            color: #E2E8F0;
            text-align: center;
            font-size: 50px;
        }
    }

    &-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 80px;
        width: 100%;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(to top, rgb(255 255 255 / 100%), rgb(255 255 255 / 0%));

        svg {
            cursor: pointer;
            margin-right: 16px;


        }
    }
}